<div *ngIf="sensor">
    <div class="card-group">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{sensor.name}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{sensor.id}}</h6>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Part Number: {{sensor.partNumber}}</li>
                    <li class="list-group-item">Communication Interface: {{sensor.communicationInterface}}</li>
                    <li class="list-group-item">Gewicht: {{sensor.weight}}g</li>
                </ul>
            </div>
        </div>
        <ng-container *ngIf="imageUri">
            <div class="card">
                <img [src]="imageUri" class="card-img-top" width="200" height="200">
            </div>
        </ng-container>
    </div>
    <br>
    <app-firmware-liste [firmwares]="firmwares" [partNumber]="sensor.partNumber"></app-firmware-liste>
</div>