<div *ngIf="sensor">
    <div class="card-group">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{sensor.name}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{sensor.id}}</h6>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Part Number: {{sensor.partNumber}}</li>
                    <li class="list-group-item">Communication Interface: {{sensor.communicationInterface}}</li>
                    <li class="list-group-item">Gewicht: {{sensor.weight}}g</li>
                </ul>
            </div>
        </div>
        <div class="card">
            <img src="https://via.placeholder.com/150" class="card-img-top">
        </div>
    </div>
    <app-firmware-liste [firmwares]="sensor.compatibleFirmwares" [partNumber]="sensor.partNumber"></app-firmware-liste>
</div>